{
  "ConnectionStrings": {
    "DatabaseConnection": "Server=SERVERHOST;Database=DATABASE;User Id=USER;Password=PASSWORD;SearchPath=map;"
  },
  "MapSettings": {
    "TopLatitude": "37.5",
    "BottomLatitude": "-49.5",
    "WestLongitude": "-5",
    "EastLongitude": "101.2"
  },
  "HeightGenerationSettings": {
    "Amplitude": 100,
    "MaxRiseModifier": 75
  },
  "ImageSettings": {
    "WorldWidth": 3604,
    "WorldHeight": 3060,
    "ViewWidth": 1053,
    "ViewHeight": 800,
    "MapTopLeftWidth": 1768,
    "MapTopLeftHeight": 1174
  },
  "MapgenStrings": {
    "BaseMapBorder": "#000000",
    "BaseMapPoint": "#FFFFFF",
    "BaseMapOceanPoint": "#6EC8FA",
    "BaseMapLakePoint": "#2F63BF"
  },
  "RoughnessColorMaps": [
    {
      "Roughness": 0.05,
      "Name": "Plains",
      "Weight": 150,
      "Color": "#108D11"
    },
    {
      "Roughness": 0.17,
      "Name": "Hills",
      "Weight": 20,
      "Color": "#96F06E"
    },
    {
      "Roughness": 0.77,
      "Name": "Mountains",
      "Weight": 20,
      "Color": "#F59B14"
    },
    {
      "Roughness": 0.85,
      "Name": "Deep Mountains",
      "Weight": 3,
      "Color": "#B77718"
    }
  ],
  "CoastlineGenerationSettings": {
    "Turbulence": 57.0,
    "MinLandMassSize": 6
  }
}
